$grey: #A0A0A0;
$light-grey: #eee;
$dark-grey: #444;
$black: #000000;
$teal: #008080;
$blue: #0E6EB8;

hr.intro-break {
  width: 90%;
}

.emp-text-color {
  color: $blue;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  &.center {
    justify-content: center;
  }
}

.animoji-avatar {
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}

.contact-list {
  .col {
    padding: 10px 10px 25px;
    display: flex;
    justify-content: center;
  }
}

.intro-container {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  .intro-content {
    display: flex;
    .desc-box {
      margin: auto;
      width: 330px;
      padding-left: 45px;
      .hello {
        font-size: large;
      }
      .name-header {
        font-size: 60px;
        margin: 0;
        font-weight: bold;
      }
      .sub-header{
        font-size: 30px;
        padding-left: 5px;
        font-family: monospace;
        color: $blue;
      }
    }
  }
}

.about-me-container {
  color: $dark-grey;
  padding: 50px 40px;
  font-size: 18px;
}

.experience-container {
  padding: 0 40px 50px;
  .exp-item {
    justify-content: center;
    padding-top: 50px;
  }
}

.exp-card-container {
  max-width: 800px;
  width: 100%;
  min-height: 500px;
  border-radius: 10px;
  border: 2px solid $light-grey;
  .container-fluid.full-height {
    height: 100%;
    .row.full-height {
      height: 100%;
    }
  }
  .img-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: auto;
    border-bottom: 2px solid $light-grey;
  }
  .text-section {
    height: 100%;
    width: 100%;
    padding: 20px 10px;
  }
}

.work-exp {
  color: $dark-grey;
  font-size: 18px;
  .company {
    font-size: 30px;
    font-weight: bold;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    color: $blue;
  }
  .location, .duration {
    color: $grey;
  } 
  .desc {
    padding-top: 20px;
  } 
}

// Small devices (landscape phones, 576px and up)
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .exp-card-container {
    min-height: 370px;
    .img-section {
      border-bottom: none;
    }
    .right-border {
      &::before {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : 0;
        border-right: 2px solid $light-grey;
        width   : 100%;
        height  : calc(100% - 40px); // the px val is 2*margin-bottom
        margin-bottom: 20px;
      }  
    }
  }
}
